/* Custom Font */
@font-face {
    font-family: "ParryHotter";
    src: url("fonts/ParryHotter.woff") format("woff");
    src: url("fonts/ParryHotter.tff") format("truetype");
}

/* Header */
h1 {
    font-family: "ParryHotter";
}